button{
    border: 1px solid green;
    border-radius: 20px;
    color: green;
    font-size: 10px;
    font-weight: 600;

    padding: 0.3rem 1rem 0.3rem 1rem;

    &:hover{
        background-color: green;
        color: white;
    }
}